#blinkText {
    color: #040c81;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
}

body{
    background-image: linear-gradient(to right,white, #2eacd4);
}

#dataTable{
    background-image: linear-gradient(to bottom, white 60%, skyblue);
}

.button{

    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: turquoise;
}